DEBUG=True

SECRET_KEY=uH088mps3ymFnpe6Hnh4tygzo9LGv9MOULzJ4PYVDBFJYihXGsHdHLakZ_wdQxUMv8o

DATABASE_URL=postgres://user:password@localhost:5432/keefao

ALLOWED_HOSTS=127.0.0.1,localhost

MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=

STRIPE_SECRET_KEY=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=