# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
media/
staticfiles/

# Env
.env
.env.*

# Virtualenv
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# pytest
.pytest_cache/

# node
node_modules/

# migrations cache
*/migrations/__pycache__/